@import url(style/headers.css);
@import url(style/confirm.css);
@import url(style/lists.css);
@import url(style/buttons.css);

div#afficheurs {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

div#afficheurs:after {
  content: "";
  background: transparent url(/images/compass-512.png) no-repeat center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
